//Колонки
$grid-gutter-width: 40px;

//Оформление кнопок и ссылок
$primary: #ff892a;
.btn-primary {color: #fff !important;}
$link-hover-decoration: none;

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';



//Подключаем шрифты
@font-face {
    font-family: 'Stag Sans Black';
    src:    url('../font/StagSans-Black.woff2') format('woff2'),
            url('../font/StagSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.font14px {
    font-size: 0.875rem;
}
.font17px {
    font-size: 1.063em;
}

a {
    color: #467AFF;
}

h1 {
    font-family: 'Stag Sans Black';
}