.post {
	*::selection {
		color: #fff;
		background: $blue-link;
	}
	&__categories {
		.nav-item {
		margin-right: 24px;
		}
		.nav-link {
		padding-left: 0;
		padding-right: 0;
		color: #000;
		}
		.active {
		border-bottom: 2px solid $blue-link;
		}
	}

	//Основное изображение статьи
	&__image img {
		border-radius: 5px;
		max-width: 100%;
	}

	//Оформление контента
	$content-tags: "&>h1, &>h2, &>h3, &>p, &>figure, &>ul, &>ol, &>div";
	&__content {
		position: relative;
	}

	//Авторы и участники
	&__creators {
		img {
		width: 80px;
		border-radius: 50%;
		margin-bottom: 0.5rem;
		}
		p {
		margin-bottom: 0;
		}
	}
	&__text {
		position: relative;
		z-index: 1;
		#{$content-tags} {
		margin-bottom: 1.25rem;
		}
		h2:not(:first-child) {
			padding-top: 4.5rem;
		}
		ul {
			padding-left: 30px;
		}
		ol {
			padding-left: 30px;
			counter-reset: item;
			& > li {
				position: relative;
				list-style-type: none;
				counter-increment: item;
			}
			& > li:before {
				display: inline-block;
				position: absolute;
				left: -1.5rem;
				width: 1rem;
				font-weight: bold;
				text-align: right;
				content: counter(item) ".";
			}
		}
		figure {
			margin-top: 2rem;
			margin-bottom: 2rem;
			img {
				border-radius: 5px;
				border: 1px solid $light-grey;
				margin-bottom: 0.5rem;
			}
			figcaption {
				color: $grey-text;
				font-size: 0.875rem;
				text-align: center;
			}
		}
		img,
		video {
			max-width: 100%;
		}
	}

	//Цитата, стиль с фото
	&__quote {
		margin-left: 0 !important;

		&__photo {
			.photo {
				position: relative;
				z-index: 1;
			}
			.smash {
				position: absolute;
				z-index: 2;
				top: 180px;
				left: -10px;
			}
		}
	}
	
	//Адаптация под устройства
	@media (min-width: 1200px) {
		&__text {
			#{$content-tags} {
				max-width: 60%;
				margin-left: 8.333333%;
			}
			&__rightbox {
				position: absolute;
				right: 20px;
				width: 23%;
				z-index: 2;
				img {
					margin-bottom: 0.5rem;
				}
			}
			&__leftbox img {
				position: absolute;
				left: 20px;
			}
		}
		&__quote {
			max-width: 76% !important;
		}
	}
	@media (max-width: 1199px) {
		&__text {
			#{$content-tags} {
				max-width: 70%;
			}
			&__rightbox {
				position: absolute;
				right: 20px;
				width: 23%;
				z-index: 2;
				img {
					margin-bottom: 0.5rem;
				}
			}
			&__leftbox {
				display: flex;
				img {
					margin-right: 1rem;
					margin-bottom: 0;
					align-self: center;
				}
			}
		}
		&__quote {
			max-width: 84% !important;
			&__photo .smash {
				top: 160px;
				width: 90px;
			}
		}
	}
	@media (max-width: 991px) {
		&__text {
			#{$content-tags} {
				max-width: 100%;
			}
			&__rightbox {
				position: relative;
				right: 0;
				width: 100%;
				z-index: 2;
				display: flex;
				img {
					margin-right: 1rem;
					margin-bottom: 0;
					align-self: center;
				}
			}
		}
		&__quote {
			max-width: 100% !important;
			&__photo .smash {
				top: 150px;
				width: 80px;
			}
		}
	}
	@media (max-width: 767.98px) {
		&__quote {
			&__photo .smash {
				top: 110px;
				left: 5px;
				width: 50px;
			}
		}
		&__text {
			&__leftbox, &__rightbox {
				display: block;
				&.font14px {
					font-size: 1.063rem;
					color: #212529;
				}
				img {
					margin-bottom: 0.5rem;
				}
			}
		}
	}
}